body {
    background-color: black;
}

.jumbotron {
    background-image: url(jumbotron.jpg);
}
li :hover{ 
    color: #d2d2d2;;
}
/* .navbar {
    transition: opacity 0.4s ease-in-out;
} */
.scrolled-nav-bg {
    background-color: white;
    /* opacity: 1; */
}

.scrolled-nav-text {
    color: black;
    background-color: red;
}
.shadow-navbar {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0,5);
}

hr {
    width: 2px;
    color: white;
    height: 100px;
}

#learning :hover {
    background-color: red;
    cursor: grabbing;
}

.transition-set {
    background-color: transparent;
    transition: background-color 0.5s ease;
    /* transition: 2s; */
    opacity: 0;
}

.logo-white {
    fill: white;
}

.logo-black {
    fill: black;
}
